<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.68.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views" version="1.68.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views.Forms" version="1.68.3" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.7.0.968" targetFramework="xamarinmac20" />
</packages>