<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.2" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.Forms" version="2.80.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.Forms.WPF" version="2.80.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.WindowsForms" version="2.80.1" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="2.80.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.7.0.1239" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.7.0.1179" targetFramework="net472" />
</packages>